/* Loader.css */

.loader {
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling during animation */
  position: relative;
}

.loader h2 {
  font-family: "Smooch", cursive;
  margin-bottom: 20px; /* Add some space between the text and the icon */
  color: #fff;
}

.fish-icon {
  font-size: 50px; /* Adjust the size of the fish icon */
  color: #697565;
  animation: swim 2s ease-in-out infinite;
}

@keyframes swim {
  0% {
    transform: translateY(0) rotate(0deg); /* Start at the center */
  }
  25% {
    transform: translateY(-20px) rotate(5deg); /* Move up and rotate slightly */
  }
  50% {
    transform: translateY(0) rotate(0deg); /* Back to center */
  }
  75% {
    transform: translateY(-20px) rotate(-5deg); /* Move up and rotate back */
  }
  100% {
    transform: translateY(0) rotate(0deg); /* Back to original position */
  }
}
