/* Container for All Pages */
.pages {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 100vh;
    border-radius: 20px;
    overflow: hidden;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    width: 100%;
    margin-top: 2em;
    justify-items: center;
}

/* Round Section */
.round {
    margin-top: 10em;
    width: 100%;
    height: 200%;
    background: radial-gradient(circle, #3C3D37, #181C14 70%);
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title Section */
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    margin-top: 0;
    font-family: "Smooch";
    font-size: 10em;
    color: white;
}

/* Round Button */
.round button {
    padding: 0.2em 0.7em;
    font-size: 2.5em;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #697565;
    cursor: pointer;
}

/* Project Cards */
.project-card {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    border-radius: 0.5em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px;
}

/* Project Item */
.project-card .item {
    height: 40vh;
    background-color: #ECDFCC;
    border-radius: 0.5em;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: transform 0.3s ease;
}

/* Profile Picture */
.profile-picture {
    display: none;
    margin-top: -8em;
    width: 100%;
    height: 25em;
    background: #000;
    border-radius: 0.5em;
}

.profile-picture img {
    width: 100%;
    object-fit: cover;
}

/* Project Item Description */
.item-desc {
    margin-left: -1em;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
}

.item-desc h3 {
    margin: 0;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.item-desc p {
    margin-top: 0.5em;
    font-size: 0.8em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

/* Skills Section */
.skills-container {
    padding: 2em;
}

.skills-category {
    margin-bottom: 2em;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

.skill-card {
    background-color: #697565;
    padding: 1em;
    width: 150px;
    border-radius: 0.5em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    transition: transform 0.2s;
}

.skill-card:hover {
    transform: scale(1.05);
}

/* Skill Header and Progress */
.skill-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}

.skill-icon {
    margin-right: 0.5em;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 0.5em;
    height: 10px;
    overflow: hidden;
    margin-bottom: 0.5em;
}

.progress {
    background-color: #4caf50;
    height: 100%;
    border-radius: 0.5em;
}

/* Form Placeholder */
.form-placeholder {
    padding: 5em;
    background-color: #3C3D37;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 2em;
    border-radius: 18px;
    padding: 1em 5em;
    border: none;
    font-size: 1em;
}

/* Fish Animation */
.fish-animation {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    animation: swim 2s infinite ease-in-out;
}

@keyframes swim {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Media Queries */
@media (max-width: 1024px) {
    .skills-grid {
        justify-content: space-between;
    }
    .skill-card {
        width: 26%;
    }
}

@media (max-width: 700px) {
    .hero {
        height: 90vh;
    }
    .title h1 {
        font-size: 4em;
        margin-top: -0.5em;
    }
    .project-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-card {
        width: 36%;
    }
}

@media (max-width: 400px) {
    .project-section {
        grid-template-columns: 1fr;
    }
    .skill-card {
        width: 100%;
    }
    .skill-card p {
        display: none;
    }
    .profile-picture {
        display: flex;
        margin-top: -4em;
    }
}
